@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
:root{
    --azul-remo:#08122b;
    --branco:#FFFFFF;
}

body {
    color: white;       /*cor-da-fonte: branco;*/
    background-color: gold;     /*cor-fundo: DOURADO*/ 
    margin: 0px;                /*margem-externa-elemento: 0pixels*/
    font-family: 'Chakra Petch'; /*tipo-de-fonte*/
    margin-bottom: 100px;      /*espaço-externa-de-baixo*/
}

header {
    border-bottom: solid 2px rgb(42, 122, 228); 
                    /*borda-de-baixo: linha-solida 2pixels cor-padrao-rgb*/
    padding: 20px;  /*espaço-interno do elemento : 20pixels*/
    font-size: 60px;  /*tamanho da fonte : 60pixels*/
    color: rgb(42, 122, 228);  /*cor-da-fonte-texto: cor-padrao-rgb*/
}
.chamada {
    background: goldenrod;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    
}
.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}
  
  p {
    font-size: 20px;
}

img{
    height: 200px;
}
.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}









